# Build staging directories
dist/finlyzer/
dist/development/
dist/production/

# Dependencies & system files
node_modules/
.DS_Store
*.log

# Local secrets overrides
.env*.local
.env.production
.env.development